* {
    box-sizing: border-box;
}
body.login {
    margin: 10vh 5%;
    text-align: center;
}
body.login-setup {
    background-image: url("../img/private_branding/login_background.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
img {
    vertical-align: middle;
}

.button {
    background: transparent;
    display: inline-block;
    margin: 10px;
}
.button.small {
    margin: 5px;
}
.button img {
    width: 30vh;
    height: auto;
}
.button.middle img {
    width: 25vh;
    height: auto;
}
.button.small img {
    width: 12.5vh;
    height: auto;
}
.button.middle.picture img {
    width: 20vw;
    height: 50%;
    max-width: unset;
    max-height: unset;
    object-fit: contain;
    border-radius: 10px;
}
.button div {
    padding: 10px 0;
    font-weight: 700;
}
.button:hover {
    cursor: pointer;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

/* Main container */
#main-container {
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    width: 100vw;
}

/* Overlay container */
.overlayContainer {
    content: " ";
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
}
.overlayContainerInner {
    padding: 30px;
    border-radius: 30px;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}
.overlayContainerInner,
.overlayContainerInner button {
    font-size: 23pt;
    background: black;
    color: white;
}
.overlayContainerInner button {
    font-weight: bold;
    border: 2px solid white;
    border-radius: 20px;
    margin: 10px;
}

/* Text Buttons */
.button-single {
    border: 3px solid black;
    border-radius: 4px;
    position: fixed;
    z-index: 2;
}
body.login .button-single {
    position: static;
    font-size: 2em;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    background: #234c5a;
    color: floralwhite;
    border-color: floralwhite;
}
.button-single a {
    color: inherit;
    text-decoration: none;
}

.button-single-menu {
    top: 15px;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    display: block;
    padding: 8px;
}
.button-single-left {
    left: 15px;
}
.button-single-right {
    right: 15px;
}
