@font-face {
    font-family: "Noto";
    src: url("/fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Material Icons";
    src: url("/fonts/MaterialIcons/MaterialIcons-Regular.ttf") format("truetype");
}
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
    vertical-align: middle;
    max-width: 1em;
    overflow: hidden;
}

body {
    font-family: Noto, Verdana, sans-serif;
    background-color: #dddddd;
    margin: 0;
    padding: 0;
}
