body {
    background-color: #000;
}

.round-button {
    content: " ";
    display: inline-block;
    margin: 5vh 0;
    color: black;
    border: 0;
    width: 90vh;
    height: 90vh;
    border-radius: 45vh;
}

#record-button {
    background: #82bc00;
    box-shadow: inset 0px 1vh 0 rgba(255, 255, 255, 0.3), 0 2vh 2vh rgba(0, 0, 0, 0.3);
    border-bottom: solid 6vh #82bc00;
    line-height: 90vh;
}

#stop-button {
    display: none;
    background: #e2231a;
    box-shadow: inset 0px 1vh 0 rgba(255, 255, 255, 0.3), 0 2vh 2vh rgba(0, 0, 0, 0.3);
    border-bottom: solid 6vh #e2231a;
}

#activityindicator {
    display: none;
    z-index: 3000;
    position: absolute;
    margin: 0;
    top: 5vh;
    left: 50vw;
    transform: translateX(-50%);
}

#activityindicator img {
    width: 80%;
    height: 80%;
    margin-top: 10%;
}

#countdown-display {
    font-size: 50vh;
    color: #fff;
    line-height: 50vh;
    vertical-align: middle;
    margin: 25vh;
    display: none;
}

#time-display {
    margin: 20vh auto;
    width: 40vw;
    line-height: 10vh;
    color: black;
    text-shadow: -1px -1px 0px #fff, 0px -1px 0px #fff, 1px -1px 0px #fff, -1px 0px 0px #fff, 1px 0px 0px #fff, -1px 1px 0px #fff, 0px 1px 0px #fff, 1px 1px 0px #fff;

    font-size: 10vh;
}

.button-single {
    color: lightgrey;
    border: 1px solid grey;
    border-radius: 2px;
}
#retry {
    bottom: 1vh;
    right: 1vh;
    font-size: 90%;
    display: none;
    padding: 3px;
}

#video_preview {
    background-color: #000;
    position: absolute;
    top: 0;
    z-index: 2000;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: none;
}
#video_preview_inner {
    height: 100%;
}
#video_preview video {
    margin: 0 auto;
    height: 80vh;
    width: 100vw;
}
.video-button {
    padding: 20px;
    margin: 30px;
    bottom: 1vh;
    text-transform: uppercase;
}
.video-button-green {
    border-color: rgb(100, 255, 150);
    background-color: rgba(100, 255, 150, 0.03);
    font-size: 1.8em;
}
.video-button-red {
    border-color: rgb(255, 90, 110);
    background-color: rgba(255, 90, 110, 0.03);
    font-size: 1.7em;
}
