#main-container {
    margin-top: 92px;
    /* 92px = 15px + 2 * 3px + 2 * 8px + 40px of Menu Items top +  15px (like top of Menu Item)*/
    border-top: 7px solid #204356;
    padding-top: 50px;
}

#icon_reset {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3000;
}
#icon_reset img {
    z-index: 4000;
}

#icon_logout {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3000;
}

#room-link {
    text-align: center;
}
#room-link a {
    color: inherit;
    font-weight: bold;
    font-size: 3em;
}

/* Overlay container modifications */
.overlayContainer,
.overlayContainerInner,
.overlayContainerInner button {
    background: white;
    color: black;
    border-color: black;
    z-index: 10000;
}

#progress {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10px;
    background-color: #204356;
    transition: background-color 3s;
    content: " ";
}
