.hidden {
    display: none !important;
}

body {
    margin-bottom: 60px;
}

main {
    padding: 3vw;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.25em;
}

article {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 1vw;
    text-align: center;
}

article > .article-main {
    max-width: 1000px;
}

nav#topnav,
nav#morenav {
    z-index: 10000;
}

nav#topnav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #234c5a;
    user-select: none;
    padding: 0 !important;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
    max-height: 50px;
    height: 50px;
}
nav#topnav,
nav#topnav * {
    color: #e0e0ef;
    font-size: 16px;
    line-height: 50px;
}
nav#topnav * {
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
}
nav#topnav a {
    padding-left: 1%;
    padding-right: 1%;
    max-width: 28%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
nav#topnav a:hover {
    color: #fff;
}

nav#topnav #topnav-toggle {
    color: #eee;
    cursor: pointer;
    position: fixed;
    right: 1em;
    max-width: 16px;
}
nav#topnav #topnav-toggle {
    color: #fff;
}

nav#morenav {
    position: fixed;
    width: 100%;
    max-height: calc(100% - 50px);
    overflow-y: auto;
    bottom: 50px;
    padding: 2%;
    padding-top: 0;
    padding-bottom: 0;
    background: #5f8f9f;
}
nav#morenav:target {
    display: block;
}
nav#morenav ul {
    list-style-type: none;
    padding: 0;
}
nav#morenav li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 110%;
}
nav#morenav a > * {
    vertical-align: middle;
}
nav#morenav a:hover,
nav#morenav a:hover * {
    color: #fff;
}
nav#morenav span {
    padding-left: 10px;
}
nav#morenav * {
    text-decoration: none;
    color: #efeff0;
}

@media (min-width: 750px) {
    body {
        margin-bottom: 0px;
        margin-top: 60px;
    }

    nav#topnav {
        top: 0;
        bottom: auto;
        padding-left: 2%;
        padding-right: 2%;
        max-height: 60px;
        height: 60px;
    }
    nav#topnav,
    nav#topnav * {
        font-size: 19px;
        line-height: 60px;
    }

    nav#morenav {
        max-height: calc(100% - 60px);
        border-radius: 15px;
        width: auto;
        margin: 1%;
        top: 60px;
        right: 0;
        bottom: auto;
    }
    nav#morenav li {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}
