article > .article-main {
	max-width: unset;
}

#pics-warn  {
	color: #c00;
	font-weight: 900;
}
#pics-ok  {
	color: #0a0;
	font-weight: 900;
}

#pics-inner {
	display: grid;
	grid-gap: 0px;
	grid-template-columns: auto;
	padding-top: 30px;
}

.pics-inner-item {
	padding: 15px;
}
.pics-inner-item img {
	max-width: 75vw;
	width: 300px;
}

.pics-dialog-text,
.pics-dialog-buttons button,
.pics-inner-item button,
.pics-inner-item input {
	background: #ddd;
	color: #001;
	border: 2px solid #001;
	border-radius: 6px;
	font-size: 1.01em;
	margin: 6px;
	padding: 6px;
}

@media (min-width: 750px) {
	#pics-inner {
		grid-template-columns: auto auto;
	}
}

@media (min-width: 1250px) {
	#pics-inner {
		grid-template-columns: auto auto auto;
	}
}

@media (min-width: 1500px) {
	#pics-inner {
		grid-template-columns: auto auto auto auto;
	}
}
