body {
    padding-top: 80px;
}
#videoarchive_top, #videoarchive_top * {
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
#videoarchive_top {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background: inherit;
    margin-top: -80px;
}

#videoarchive_top header {
    flex-grow: 1;
}
#videoarchive_top header h1 {
    vertical-align: middle;
    max-width: 100%;
    height: 80px;
    line-height: 80px;
}

#videoarchive_top img {
    height: 80px;
    object-fit: contain;
}

#videoarchive_list {
    text-align: center;
}

.videoarchive_item {
    padding: 2vh 0;
}
#videoarchive_list video {
    max-width: 90vw;
    width: 500px;
}
@media (max-width: 500px) {
    body {
        padding-top: 160px;
    }
    #videoarchive_top {
        flex-direction: column;
        margin-top: -160px;
    }
    #videoarchive_top * {
        text-align: center;
    }
}
